VAULT_ADDR={{ 'https' if hashicorp_vault_tls_enabled | bool else 'http' }}://127.0.0.1:{{ hashicorp_vault_api_port }}
{% if hashicorp_vault_tls_enabled | bool %}
VAULT_CACERT={{ hashicorp_vault_tls_dir }}/{{ hashicorp_vault_cacertfile | basename }}
{% endif %}
{% for name, value in hashicorp_vault_service_environment | dictsort %}
{{ name }}={{ value }}
{% endfor %}
